.c-bg {
  width: 20px;
  height: 100%;
  background-color: #045edd;
  position: absolute;
}

.c-info-item img{
  width: 2rem !important;
  margin-right: 1rem !important;
  height: 100% !important;
}

.c-info-item {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 1rem;
  font-weight: 300;
}

.row {
  --bs-gutter-x: none !important;
}