.intro-bg {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: #426ca4;
  top: 0;
  right: 0;
}

.intro-left-wrapper {
  padding: 2rem;
  max-height: 60%;
}

.intro-hello {
  font-size: 30px;
  font-weight: 300;
}

.intro-name {
  font-size: 60px;
}
.intro-title {
  height: 50px !important;
  overflow: hidden;
}



.intro-title-wrapper {
  height: 100%;
  animation: move 15s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.intro-title-item {
  height: 50px;
  font: size 30px;
  font-weight: bold;
  color: #426ca4;
  display: flex;
  align-items: center;
}


.intro-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}