.footer{
    display: flex;
    height: 200px;
    color: white;
    background-color: #09f;
    flex-direction: column;
    padding: 1rem 3rem;
    align-items: stretch;
}

.footer-copyright{
text-align: center;
}
p{
    margin:0;
    font-size: clamp(.7rem,2vw, 2vh);
}
.footer-copyright a{
    text-decoration: none;
    color:black;
}
.footer-reseau-lien{
    width: 100%;
    flex: 1 1;
    display: flex;
    padding: 0.3rem 0px;
    justify-content: space-evenly;

}

.footer-reseau-lien a{
    border-radius: 1rem;padding: 0.5rem;
    border: 1px solid white;
}
 
 
.footer-reseau{
    flex: 1;
    display:flex;align-items: center;
}


.footer-reseau svg{
    width: 1.875em;
    height: 1.875em;
}

.footer path{
    color:white;
}


@media screen and (max-width: 480px) {
.footer{
    overflow: hidden;
    height:100%;
    padding:1rem !important;
}
    .footer-reseau{
       align-items: center;
       flex-direction: column;
    }
    
    h3{
        font-size:clamp(1rem, 1vw, 1vh)
    }
    p{
        font-size: clamp(0.5rem,1vw, 1vh);
    }
    .contact-wrapper {
        flex-direction: column;
        padding: 20px;
}
form{
    display: unset;
}
button {
   width: 100%;
}
}