.f{
    display:flex;
    height:50vh;
    background-color:burlywood;
    justify-content:space-between;
    flex-direction: column;
    padding: 3rem;
}

.f-p{
text-align: center;
}

.f-r{
    flex: 1;
    display:flex;
    justify-content:space-evenly
}

.f-r svg{
    width: 1.875em;
    height: 1.875em;
}